@use "../global/variables";
@use "../global/mixins";

.index-request {
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 425px) {
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    overflow: hidden;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: variables.$desktop-content-width;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: variables.$desktop-big-width) {
    max-width: variables.$desktop-big-content-width;
  }

  &::after {
    @media (min-width: 810px) {
      position: absolute;
      width: 169px;
      height: 334px;
      bottom: 0;
      left: calc(5% - 2px);
      content: "";
      background-image: url("https://a5chess.ru/images/girl-request-tablet.png");
      background-image: -webkit-image-set(url("https://a5chess.ru/images/girl-request-tablet.webp") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 169px 334px;
      z-index: 2;

      @media (min-width: variables.$desktop-width) {
        background-image: url("https://a5chess.ru/images/girl-request-desktop.png");
        background-image: -webkit-image-set(url("https://a5chess.ru/images/girl-request-desktop.webp") 1x);
        width: 330px;
        height: 650px;
        background-size: 330px 650px;
        left: calc(9% - 3px);
      }

      @media (min-width: variables.$desktop-big-width) {
        max-width: variables.$desktop-big-content-width;
        left: calc(11% - 4px);
      }
    }
  }

  &::before {
    @media (min-width: variables.$tablet-width) {
      position: absolute;
      width: 233px;
      height: 233px;
      border-radius: 50%;
      background-color: #F78A8F;
      bottom: -110px;
      left: 0;
      content: "";
      z-index: -1;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0.2;
    }

    @media (min-width: variables.$desktop-width) {
      -webkit-filter: blur(80px);
      filter: blur(80px);
      opacity: 0.5;
      left: 13%;
    }
  }
}

.index-request--school {

  &::after {
    z-index: 1;

    @media (min-width: 810px) {
      display: none;
    }

    @media (min-width: variables.$desktop-width) {
      display: block;
      background-image: url("https://a5chess.ru/images/school/school-request.png");
      background-image: -webkit-image-set(url("https://a5chess.ru/images/school/school-request.webp") 1x);
      width: 969px;
      height: 898px;
      background-size: 969px 898px;
      left: 0;
    }
  }

  &::before {
    display: none;
    }
}

.index-request--camp {

  .index-request__form {


    @media (min-width: variables.$desktop-width) {
      margin-right: 0;
    }

    @media (min-width: variables.$desktop-big-width) {
      margin-top: 150px;
      padding-top: 68px;
      padding-left: 120px;
    }
  }

  &::after {
    z-index: 1;

    @media (min-width: 810px) {
      display: none;
    }

    @media (min-width: variables.$desktop-big-width) {
      display: block;
      background-image: url("https://a5chess.ru/images/camp/camp-request-sheet.png");
      background-image: -webkit-image-set(url("https://a5chess.ru/images/camp/camp-request-sheet.webp") 1x);
      width: 657px;
      height: 754px;
      background-size: 657px 754px;
      left: 318px;
      z-index: 2;
    }
  }

  &::before {
    display: none;


    @media (min-width: variables.$tablet-width) {
      display: none;
      position: absolute;
      width: 447px;
      height: 602px;
      border-radius: unset;
      background-color: unset;
      bottom: 0;
      left: 0;
      content: "";
      z-index: 3;
      -webkit-filter: unset;
      filter: unset;
      opacity: 1;
    }

    @media (min-width: variables.$desktop-width) {
      display: block;
      -webkit-filter: unset;
      filter: unset;
      opacity: 1;
      left: 0;
      background-image: url("https://a5chess.ru/images/camp/camp-request-girl.png");
      background-image: -webkit-image-set(url("https://a5chess.ru/images/camp/camp-request-girl.webp") 1x);
      width: 447px;
      height: 602px;
      background-size: 447px 602px;
    }
  }
}

.index-request__title {

  @media (min-width: variables.$tablet-width) {
    max-width: variables.$tablet-content-width;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: unset;
  }
}

.index-request__form {
  position: relative;
  z-index: 2;
  margin: 30px auto 0;
  background-color: variables.$background-color-second;

  @media (min-width: variables.$tablet-width) {
    max-width: 620px;
    margin-top: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 670px;
    margin: 76px 0 0 auto;
  }

  @media (min-width: variables.$desktop-big-width) {
    margin-right: 70px;
  }
}
