@use "../global/variables";
@use "../global/mixins";


.online-lessons {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: variables.$mobile-width) {
    padding-left: 63px;
    padding-right: 62px;
  }

  @media (min-width: variables.$tablet-width) {
    max-width: variables.$tablet-content-width;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: variables.$desktop-content-width;
  }

  @media (min-width: variables.$desktop-big-width) {
    max-width: variables.$desktop-big-content-width;
  }
}

.online-lessons__wrapper {
  display: grid;

  margin-top: 80px;
  gap: 40px;


  .online-lessons__picture {
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: 100%;
  }

  .online-lessons__container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
  }


  @media (min-width: variables.$desktop-big-width) {
    grid-template-columns: auto minmax(450px, 1000px);
    margin-top: 80px;
    gap: 40px;

    .online-lessons__picture {
      grid-column: initial;
      grid-row: initial;
      display: block;
      width: 100%;
    }

    .online-lessons__container {
      grid-column: initial;
      grid-row: initial;
      display: flex;
      flex-direction: column;
    }
  }
}

.online-lessons__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.online-lessons__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$desktop-width) {
    //max-width: 485px;
  }
}

.online-lessons__item {
  position: relative;
  padding-left: 25px;


    &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: 0;
    border-radius: 50%;
    background-color: variables.$color-accent-basic;
    }

  & + .online-lessons__item {
    margin-top: 11px;

    @media (min-width: variables.$tablet-width) {
      margin-top: 20px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-top: 30px;
    }
  }
}

.online-lessons__primary-button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;

  span {
    display: none;

    @media (min-width: variables.$tablet-width) {
      display: unset;
    }
  }

  @media (min-width: variables.$tablet-width) {
    max-width: unset;
    width: 418px;
    margin-top: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 470px;
    margin-top: 48px;
    margin-left: unset;
    margin-right: unset;
  }

  @media (min-width: variables.$desktop-big-width) {
    width: 485px;
  }
}
