@use "../global/variables";
@use "../global/mixins";

.popup {
  top: 20px;
  left: calc(50% - 140px);
  text-align: center;
  width: 280px;
  z-index: 15;
  position: fixed;
  background-color: variables.$background-color-second;
  padding: 120px 10px 50px 10px;
  box-sizing: border-box;
  border: 3px solid variables.$background-color-basic;
  border-radius: 5px;
  overflow-y: auto;

  @media (min-width: variables.$tablet-width) {
    left: calc(50% - 310px);
    top: 50px;
    width: 620px;
    padding: 160px 100px 70px 100px;
  }

  @media (min-width: variables.$desktop-width) {
    left: calc(50% - 500px);
    top: 80px;
    width: 1000px;
    padding: 190px 100px 75px 100px;
  }

  &::after {
    top: 50px;
    left: calc(50% - 25px);
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center;
    content: '';
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      top: 70px;
      width: 70px;
      height: 70px;
      background-size: 70px 70px;
      left: calc(50% - 35px);
    }

    @media (min-width: variables.$desktop-width) {
      top: 75px;
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
      left: calc(50% - 50px);
    }
  }
}

.popup--success {
  &::after {
    background-image: url("https://a5chess.ru/images/icons/popup-smile-icon.svg");
  }
}

.popup--error {
  &::after {
    background-image: url("https://a5chess.ru/images/icons/popup-frown-icon.svg");
  }
}

.popup__title {
  margin: 0;
  @include mixins.font-h1();
}

.popup__description {
  margin: 15px 0 0 0;
  @include mixins.font-p2();
}

.popup__button {
  margin: 30px 0 0 0;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 420px;
  }
}

.popup__telephone {
  text-decoration: none;
  @include mixins.font-p2();
}
