
/*/////////////////////////Главная страница\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*Интро*/
@use "../blocks/index-intro";

/*О школе*/
@use "../blocks/index-about";
@use "../blocks/blockquote";

/*Видео о школе*/
@use "../blocks/index-video";

/*Стоимость занятий*/
@use "../blocks/lessons-price";

/*Онлайн занятия*/
@use "../blocks/online-lessons";

/*Лагерь*/
@use "../blocks/index-camp";

/*Подписка*/
@use  "../blocks/index-subscription";
@use "../blocks/subscription-form";

/*О тренере*/
@use "../blocks/teachers";

/*Рейтинг*/
@use "../blocks/block-rating";
@use "../blocks/students-list";
@use "../blocks/student-rating";

/*Отзывы*/
@use  "../blocks/index-reviews";

/*Новости*/
@use "../blocks/index-news";

/*Адреса*/
@use "../blocks/index-location";

/*Заявка*/
@use "../blocks/index-request";


@use "../blocks/policy-popup";
