$font-family-basic: "Montserrat", sans-serif;
$font-family-header: "Gotham Pro", sans-serif;

$font-size-h1: 80px;
$font-size-h2: 70px;
$font-size-h3: 50px;
$font-size-h4: 45px;
$font-size-h5: 40px;
$font-size-h6: 30px;
$font-size-h7: 25px;
$font-size-p1: 20px;
$font-size-p2: 18px;
$font-size-p3: 16px;
$font-size-p4: 14px;

$font-line-height-h1: 80px;
$font-line-height-h2: 50px;
$font-line-height-h3: 45px;
$font-line-height-h4: 40px;
$font-line-height-h5: 35px;
$font-line-height-p1: 30px;
$font-line-height-p2: 25px;
$font-line-height-p3: 20px;

$font-weight-basic: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
