@use "font-variables";
@use "variables";

@mixin font-h1 {
  font-family: font-variables.$font-family-header;
  font-style: normal;
  font-weight: font-variables.$font-weight-700;
  font-size: font-variables.$font-size-h5;
  line-height: font-variables.$font-line-height-h3;
  color: variables.$color-basic;

  @media (min-width: variables.$tablet-width) {
    font-size: font-variables.$font-size-h2;
    line-height: font-variables.$font-line-height-h1;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-h1;
  }
}

@mixin font-h2 {
  font-family: font-variables.$font-family-header;
  font-style: normal;
  font-weight: font-variables.$font-weight-700;
  font-size: font-variables.$font-size-h7;
  line-height: font-variables.$font-line-height-h5;
  color: variables.$color-basic;

  @media (min-width: variables.$tablet-width) {
    font-size: font-variables.$font-size-h4;
    line-height: font-variables.$font-line-height-h2;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-h3;
  }
}

@mixin font-h3 {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-600;
  font-size: font-variables.$font-size-p1;
  line-height: font-variables.$font-line-height-p1;
  color: variables.$color-basic;

  @media (min-width: variables.$tablet-width) {
    font-size: font-variables.$font-size-h7;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-h6;
    line-height: font-variables.$font-line-height-h4;
  }
}

@mixin font-p1 {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-basic;
  font-size: font-variables.$font-size-p2;
  line-height: font-variables.$font-line-height-p1;
  color: variables.$color-basic;

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-p1;
  }
}

@mixin font-p2 {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-500;
  font-size: font-variables.$font-size-p3;
  line-height: font-variables.$font-line-height-p2;
  color: variables.$color-basic;

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-p2;
    line-height: font-variables.$font-line-height-p1;
  }
}

@mixin font-p2-semiBold {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-600;
  font-size: font-variables.$font-size-p3;
  line-height: font-variables.$font-line-height-p2;
  color: variables.$color-basic;

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-p2;
  }
}

@mixin font-p2-menu {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-600;
  font-size: font-variables.$font-size-p4;
  line-height: font-variables.$font-line-height-p3;
  color: variables.$color-basic;

  @media (min-width: variables.$tablet-width) {
    font-size: font-variables.$font-size-p3;
    line-height: font-variables.$font-line-height-p2;
  }
}

@mixin font-button {
  font-family: font-variables.$font-family-basic;
  font-style: normal;
  font-weight: font-variables.$font-weight-700;
  font-size: font-variables.$font-size-p3;
  line-height: font-variables.$font-line-height-p1;
  color: variables.$color-basic;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$desktop-width) {
    font-size: font-variables.$font-size-p2;
  }
}
