$mobile-width: 425px;
$tablet-width: 640px;
$desktop-width: 1200px;
$desktop-big-width: 1700px;

$mobile-content-width: 300px;
$tablet-content-width: 620px;
$desktop-content-width: 1170px;
$desktop-big-content-width: 1520px;

/*Color*/
$color-basic: #272E3E;
$background-color-basic: #DEDDDD;
$background-color-second: #FFFFFF;
$color-accent-basic: #FBCE02;
$color-accent-basic-light: rgba(251, 206, 2, 0.3);
$color-accent-second: #024D8C;
$color-accent-third: #F78A8F;
$color-accent-third-light: #FFDDDF;
$color-icon: #002357;
$color-blur: #798FFF;
$color-blur-active: #5C76FA;
$color-accept: #00CE21;
